* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 18px;
}

:root {

    /* WHOLE PAGE */
    --bg-color: rgba(234,234,234,1);
    --text-color: rgba(22,22,22,1);
    --link-color: rgba(0,142,204,1);
    --alink-color: rgba(187,38,73,1);
    --vlink-color: rgba(85,26,139,1);
    --hlink-color: rgba(187,38,73,1);

    /* NAV & FOOTER */
    --nav-bg-color: rgba(234,234,234,1);
    --nav-text-color: rgba(22,22,22,1);
    --nav-link-color: rgba(0,142,204,1);
    --nav-alink-color: rgba(187,38,73,1);
    --nav-vlink-color: rgba(99,3,204,1);
    --nav-hlink-color: rgba(187,38,73,1);
     
    --color1: rgb(99,3,204);
    --color2: rgb(1,153,247);
}

/* GOOGLE FONT INFO */
.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
  }

  .shadows-into-light-two-regular {
    font-family: "Shadows Into Light Two", serif;
    font-weight: 400;
    font-style: normal;
  }
  


html, body {
    margin: 0;
    padding: 0;
}

    html {
    /* border: 2px solid red; */
    }

    body {
       /* border: 2px solid orange; */
       text-align: center;
       background-color: var(--bg-color);
       color: var(--text-color);
       font-family: "Shadows Into Light Two", serif;
    }

    p {
        margin: 0 auto;
        padding: 0.4rem;
        /* border: 2px solid teal; */
        font-size: 1.6rem;
        line-height: 1.4;
    }

    ul {
        /* border: 2px solid red; */
        margin: 0.2rem 0.4rem;
        padding: 0.2rem 0.4rem;
        list-style-position: inside;
     
    }

    h3 {
        font-size: 1.6rem;
        line-height: 1.1;
    }

    h4 {
        font-size: 1.4rem;
        line-height: 1.1;
    }

    li {
        /* border: 2px solid orange; */
        margin: 0 auto;
        padding: 0.2rem;
        line-height: 1.2;
        font-size: 1.2rem;
    }

    a {
        margin: 0 auto;
        padding: 0;
        color: var(--link-color);
        /* border: 2px solid red; */
    }

        a:active {
        color: var(--alink-color);
        }

        a:visited {
        color: var(--vlink-color);
        }

        a:hover {
        color: var(--hlink-color);
        }

        a:hover img {
            background: rgba(187,38,73,1);
            filter: invert(100%) saturate(100%);
            opacity: 80%;
            border: 0.1px solid black;
        }

header, main, footer {
        margin: 0 auto;
        padding: 0;
        }

header {
    /* border: 2px solid green; */
}

nav, #hero {
    margin: 0 auto;
    padding: 0;
}
    
     nav {
     /* border: 2px solid blue; */

     /* flex styles below*/

       display: flex;
        flex-flow: row no-wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        flex-grow: 1;
        max-width: 80rem;
         }

         nav a {
           /* border: 2px solid red; */
            color: var(--nav-link-color);
            margin: 0.2rem 0.4rem;
            padding: 0.2rem;
            text-decoration: none;
         }

         nav a:active {
            color: var(--nav-alink-color);
         }

         nav a:visited {
            color: var(--nav-vlink-color);
         }

         footer a:hover {
            border-top: 2px solid var(--nav-hlink-color);
            border-bottom: 2px solid var(--nav-hlink-color);
            color: var(--nav-hlink-color);
         }

         nav a:hover {
            color: var(--nav-hlink-color);
         }

         nav img {
            border: 0.1px solid transparent;
            border-radius: 0.4rem;
            filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0,0,0,0.2));
            margin: 0.6rem auto;
            padding: 0.2rem;
            height: 2.4rem;
         }



         /* icon images d/l from:  
         Tabler.io - SVG and other options available, using PNG for now
         home - https://tabler.io/icons/icon/home
         projects - https://tabler.io/icons/icon/folder-star
         about -https://tabler.io/icons/icon/user or 
                https://tabler.io/icons/icon/user-square  (? try both ?) 
         X (twitter) - https://tabler.io/icons/icon/brand-x  
         GitHub - https://tabler.io/icons/icon/brand-github
         */

     #hero {
        /* border: 2px solid magenta; */
     }

     #hero h1 {
        /* border: 2px solid orchid; */
        margin: 3rem auto 0;
        padding: 0;
        font-size: 4rem;
        line-height: 1;
     }

     #hero p {
        /* border: 2px solid greenyellow; */
        margin: 0 auto 1rem;
        padding: 0.4rem;
        font-style: italic;
        font-size: 1.2rem;
        line-height: 1.1;
     }


main {
    /* border: 2px solid blue; */ 
    text-align: start;
} 


h2 {
    font-size: 3rem;
}



#about, #projects {
    margin: 1rem 1rem 3rem;
    padding: 0.2rem;
    border: 1px solid var(--bg-color);
    border-radius: 0.4rem;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}

        #about {
    /* border: 2px solid green; */
        }

        #projects {
    /* border: 2px solid coral; */
        }


#about a, #projects a {
    color: var(--nav-link-color);
}
#about a:active, #projects a:active {
    color: var(--nav-alink-color);
}
#about a:visited, #projects a:visited {
    color: var(--nav-vlink-color);
}
#about a:hover, #projects a:hover {
color: var(--nav-hlink-color);
}



footer {
    /* border: 2px solid purple; */
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}

footer p {
    font-size: 1rem;
    line-height: 1.1;
}

footer a {
    color: var(--nav-link-color);
}

footer a:active {
    color: var(--nav-alink-color);
}

footer a:visited {
    color: var(--nav-vlink-color);
}

footer a:hover {
    color: var(--nav-hlink-color);
}

